@import '../../scss/colors';
@import '../../scss/borders';

.table {
  &__row {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 55px;
    border-top: $tableBorder;

    .actions_cell {
      width: 44px;
      max-width: 44px;
    }

    &:hover {
      background-color: $alabaster;

      .actions_cell {
        .table-actions-container {
          display: block;

          &__body {
            right: 22px;
          }
        }
      }
    }

    &-create-parameter {
      display: flex;
    }
  }

  &__cell {
    display: flex;
    flex: 1;
    align-items: center;
    padding: 10px;
    color: $primary;

    &.add-input {
      padding: 0;
    }

    &_disable {
      color: $spunPearl;
    }

    &-edit {
      flex: 0.1;
      margin: 0;

      button {
        padding: 0;
      }
    }

    &:first-child {
      padding-left: 17px;
    }
  }
}
