@import '../../scss/colors.scss';
@import '../../scss/borders.scss';

.project-container__main-panel__statistics {
  display: flex;

  &-item {
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;

    &__value {
      font-weight: 300;
      font-size: 48px;
      line-height: 56px;
      text-align: center;

      &.statistics {
        &_running {
          color: $brightTurquoise;
        }

        &_default {
          color: $topaz;
        }

        &_scheduled {
          color: $supernova;
        }
      }
    }

    &__label {
      color: $topaz;
      text-align: center;
    }

    &:not(:last-child)::after {
      position: absolute;
      top: 50%;
      right: 0;
      height: 28px;
      border-right: $dividerBorder;
      transform: translate(0, -50%);
      content: '';
    }
  }
}
