@import '../../scss/colors';

.input {
  padding: 18px 24px;
  color: $primary;
  border: none;
  z-index: 999;
  background-color: transparent;
  position: relative;
  &-wrapper {
    position: relative;
    .arrow_container {
      position: absolute;
      right: 8px;
      top: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 15px;
      z-index: 1000;
      .arrow_up {
        transform: rotate(180deg) scale(1);
        transition: transform 200ms linear;
        cursor: default;
        &:hover {
          transform: rotate(180deg) scale(1.5);
          transition: transform 200ms linear;
        }
      }
      .arrow_down {
        transform: scale(1);
        transition: transform 200ms linear;
        cursor: default;
        &:hover {
          transform: scale(1.5);
          transition: transform 200ms linear;
        }
      }
    }
  }
  &__label {
    position: absolute;
    top: 10px;
    left: 10px;
    color: $topaz;
    z-index: 0;
    text-transform: capitalize;
    &.active {
      top: -9px;
      font-size: 12px;
      z-index: 999;
      background-color: $white;
    }
    &-floating {
      position: absolute;
      top: 19px;
      left: 25px;
      color: $topaz;
      transition: 300ms ease all;
      z-index: 0;
    }
  }
}
