@import '../../scss/colors';
@import '../../scss/borders';

.input {
  position: relative;
  padding: 18px 17px;
  color: $primary;
  background-color: transparent;
  border: none;

  &-wrapper {
    position: relative;

    .input.input_required {
      border: $errorBorder;

      & ~ .input__warning {
        display: block;
      }
    }
  }

  &__label_info {
    top: 50%;
    transform: translate(0, -50%);
  }

  &-default {
    border: $primaryBorder;
    border-radius: 2px;
  }

  &__warning {
    position: absolute;
    top: 35%;
    right: 15px;
    display: none;

    svg {
      width: 15px;
      height: 15px;
    }
  }
}
