@import '../../scss/colors';
@import '../../scss/borders';

.pop-up-dialog {
  width: 477px;
  height: auto;
  padding: 20px;
  background-color: $white;

  &__overlay {
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: $mineshaftTwo;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    background-color: $white;

    &-text {
      margin: 10px 0 20px;
      color: $primary;
      font-size: 24px;
      line-height: 28px;
    }

    &-close {
      cursor: pointer;
    }
  }

  &__buttons {
    margin: 8px 0 8px 8px;

    &-container {
      display: flex;
      justify-content: flex-end;
    }
  }

  .btn_success {
    margin-left: 10px;
    padding: 10px 18px;
  }

  &__btn_cancel {
    margin-left: 10px;
  }

  .input-wrapper {
    margin: 10px 0;

    .pop-up-dialog__form {
      &-input {
        width: 100%;
        border: $primaryBorder;
        border-radius: 4px;
      }
    }
  }
}
