@import '../../scss/colors.scss';
@import '../../scss/borders.scss';

.schedule-job {
  &-normal {
    &_container {
      border-radius: 4px;
      padding: 24px;
      border: $tableFilterBorder;
      background-color: $white;
      h3 {
        color: $primary;
        text-transform: uppercase;
      }
      .input {
        &_container {
          display: flex;
        }
      }
      .checkbox_container {
        display: flex;
        padding: 10px 10px 10px 0;
        span {
          display: flex;
          align-items: center;
          color: $primary;
          cursor: pointer;
          svg {
            margin-right: 11px;
            &.checked {
              path {
                fill: $purple;
              }
            }
            &.unchecked {
              path {
                fill: $spunPearl;
              }
            }
          }
        }
      }
      .recurring_container {
        user-select: none;
        margin-top: 23px;
        span {
          color: $primary;
        }
        .repeat_container {
          margin: 15px 0;
          display: flex;
        }
        .select {
          height: 56px;
          max-width: 228px;
          padding: 0;
          border-radius: 4px;
          background-color: transparent;
          border: $tableFilterBorder;
          .select__value {
            padding-left: 15px;
            min-width: 190px;
          }
          .select__body {
            top: 65px;
          }
        }
        .repeat_end_container {
          margin: 15px 0;
        }
      }
      .input-wrapper {
        border: $tableFilterBorder;
        border-radius: 4px;
        margin-right: 15px;
      }
    }
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
