@import '../../scss/colors.scss';
@import '../../scss/borders.scss';

.schedule-job {
  &-normal {
    &_container {
      border-radius: 4px;
      padding: 24px;
      border: $tableFilterBorder;
      background-color: $white;
      .input {
        &_container {
          display: flex;
          .input-wrapper {
            border: $tableFilterBorder;
            border-radius: 4px;
            margin-right: 15px;
          }
        }
      }
      .checkbox_container {
        display: flex;
        padding: 10px 10px 10px 0;
        span {
          display: flex;
          align-items: center;
          color: #4B4760;
          cursor: pointer;
          svg {
            margin-right: 11px;
            &.checked {
              path {
                fill: $purple;
              }
            }
            &.unchecked {
              path {
                fill: #adabb0;
              }
            }
          }
        }
      }
    }
  }
}
