@import '../../scss/colors.scss';
@import '../../scss/borders.scss';

.text_field_container {
  display: flex;
  max-width: 200px;
  align-items: center;
  border: $tableFilterBorder;
  border-radius: 4px;
  margin-right: 15px;
  margin-bottom: 15px;
  .label {
    color: $topaz;
    padding: 10px 0 10px 10px;
    text-transform: capitalize;
  }
  input {
    padding: 10px 10px 10px 64px;
    width: 200px;
    height: 38px;
  }
}
