@import '../../scss/colors.scss';
@import '../../scss/borders.scss';

.project__main-info__statistics {
  display: flex;

  &-item {
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: row;

    &__value {
      font-weight: 300;
      font-size: 48px;
      line-height: 56px;
      text-align: center;

      &.statistics {
        &_running {
          color: $brightTurquoise;
        }

        &_default {
          color: $topaz;
        }

        &_scheduled {
          color: $supernova;
        }
      }
    }

    &__label {
      min-width: 100%;
      max-width: 100px;
    }

    a {
      width: 100%;
      margin: 0 10px;
    }

    &:first-child {
      a {
        margin-left: 0;
      }
    }

    &:last-child {
      a {
        margin-right: 0;
      }
    }

    &__label {
      color: $topaz;
      text-align: center;
    }

    &:not(:last-child)::after {
      height: 28px;
      margin: auto 0;
      border-right: $dividerBorder;
      content: '';
    }
  }
}
