@import '../../scss/colors.scss';
@import '../../scss/borders.scss';

.job-labels {
  &-container {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    padding: 0 15px;
    border: $primaryBorder;
    border-radius: 4px;
  }

  &-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  &__text {
    color: $primary;
    font-size: 15px;
    line-height: 18px;
  }

  &__item {
    display: flex;
    margin: 10px 0 10px 10px;
    padding: 5px;
    border: $labelBorder;
    border-radius: 15px;

    &-key,
    &-value {
      max-width: 100px;
      margin: 0 5px;
      color: $primary;
      cursor: pointer;
    }

    &_edited {
      color: $spunPearl;
    }

    &-separator {
      color: $spunPearl;
    }

    &-icon-close {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 5px;
      padding: 0;

      svg {
        transform: scale(0.7);
      }
    }

    &:hover {
      color: $white;
      background-color: $amethyst;

      .job-labels__item {
        &-key,
        &-value,
        &-separator {
          color: $white;
        }

        &-icon-close {
          width: 14px;

          svg {
            path {
              fill: $white;
            }
          }
        }
      }
    }

    &.labels-hidden-count {
      color: $primary;
    }
  }

  &__button-add {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    margin: 10px 0 10px 10px;
    border: $labelBorder;
    border-radius: 32px;

    &:hover {
      background-color: $amethyst;

      svg {
        rect,
        path {
          fill: $white;
        }
      }
    }
  }
}
