@import '../../scss/colors.scss';
@import '../../scss//borders.scss';

.recurring_container {
  user-select: none;
  margin-top: 23px;

  span {
    color: $primary;
  }

  .repeat_container {
    margin: 15px 0;
    display: flex;

    .range {
      margin-right: 15px;
    }

    .schedule-repeat {
      &-week {
        display: flex;
        align-items: center;

        &_day {
          width: 32px;
          height: 32px;
          border-radius: 16px;
          line-height: 32px;
          text-align: center;
          color: $white;
          background: $purple;
          margin-right: 4px;

          &:first-child {
            margin-left: 16px;
          }
        }

        .S {
          background: transparent;
          color: $spunPearl;
          border: $spunPearlBorder;
        }
      }
    }
  }

  .select {
    height: 56px;
    max-width: 228px;
    padding: 0;
    border-radius: 4px;
    background-color: transparent;
    border: $greyBorder;

    .select__value {
      padding-left: 15px;
      min-width: 190px;
    }

    .select__body {
      top: 65px;
    }
  }

  .repeat_end_container {
    margin: 15px 0;
    display: flex;
  }
}
