.volumes {
  .edit-row {
    .input-wrapper {
      .input {
        padding-top: 20px;

        &__label {
          left: 12px;

          &.active-label {
            top: 5px;
          }
        }
      }
    }

    .resource-path {
      padding: 10px 0 10px 5px;
    }

    .volumes-access {
      padding: 10px 0;

      .input-wrapper {
        min-width: 210px;

        .input {
          padding: 20px 10px 10px 17px;

          &__label {
            left: 17px;
          }
        }
      }
    }

    .volume-container,
    .volume-path {
      padding: 10px 0;
    }
  }
}
