.volumes {
  .edit-row {
    .input-wrapper {
      .input {
        padding-top: 20px;

        &__label {
          left: 12px;

          &.active-label {
            top: 5px;
          }
        }
      }
    }

    // .volumes-access {
    //   margin-right: 6px;
    //   padding: 10px 0;

    //   .input-wrapper {
    //     min-width: 203px;

    //     .input {
    //       padding: 20px 10px 10px 17px;

    //       &__label {
    //         left: 17px;
    //       }
    //     }
    //   }
    // }
  }
}
