@import '../../scss/colors.scss';
@import '../../scss/borders.scss';

.project-data-card__table {
  height: 100%;

  &-header {
    display: flex;
    flex: 1;
    color: $topaz;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;

    &-cell {
      display: flex;
      flex: 1;
      padding: 20px 5px 10px 0;
      border-bottom: $tableBorderSecond;

      &:first-child {
        padding-left: 36px;
      }
    }
  }

  &-body {
    display: flex;
    flex: 1;
    flex-direction: column;

    &-row {
      display: flex;
      flex: 1;
      flex-direction: row;
      border-bottom: $tableBorderSecond;

      &__cell {
        display: flex;
        padding: 10px 5px 10px 0;
        color: $primary;
        line-height: 24px;

        &.status {
          &_completed,
          &_running {
            color: $java;
          }

          &_failed {
            color: $amaranth;
          }
        }

        &-link {
          min-width: 100%;
          max-width: 50px;
          color: $cornflowerBlue;
        }

        .table-body__cell {
          &_type {
            display: flex;
            align-items: center;
            padding: 0;
          }
        }

        &:first-child {
          padding-left: 36px;
        }
      }
    }
  }

  .table-body__cell {
    align-items: center;
    border: none;
  }

  .tooltip__text {
    display: initial;
  }
}

.table-cell {
  &_big {
    flex: 1;
    min-width: 100px;
  }

  &_medium {
    flex: 0.7;
    min-width: 100px;
  }

  &_small {
    flex: 0.5;
    min-width: 50px;
  }
}
