@import './../../scss/shadows.scss';
@import './../../scss/colors.scss';

.tooltip-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 15px 10px;
  box-shadow: $tooltipShadow;
  border-radius: 4px;
  &__kind,
  &__owner {
    color: $doveGray;
    span {
      color: $doveGrayTwo;
      font-weight: bold;
      font-size: 14px;
      line-height: 24px;
    }
  }
}
