@import '../../scss/colors';
@import '../../scss/borders';

.job-panel__table {
  position: relative;
  width: 100%;
  border-bottom: $tableBorder;

  .table {
    &__header {
      color: $topaz;
      font-weight: bold;
      font-size: 14px;
      line-height: 24px;

      .table__cell {
        &-name,
        &-inputname,
        &-volumename {
          padding-left: 17px;
        }
      }
    }

    &__body {
      display: flex;
      align-items: flex-end;

      &-column {
        width: 100%;
      }
    }
  }

  .select {
    width: 100%;
    margin: -1px;
    padding-left: 10px;

    &__value {
      min-width: unset;
    }
  }

  .edit-row {
    position: relative;

    .input {
      width: 100%;
      margin: -1px;
      padding: 10px;
      border: $primaryBorder;
      border-radius: 2px;
    }

    .table__cell {
      &_edit {
        padding: 10px 20px 10px 0;
      }
    }

    .select {
      border-radius: 2px;

      &__label {
        padding-left: 0;
      }
    }
  }

  .input-row {
    &-wrapper {
      display: flex;
      border: $primaryBorder;
    }

    &__item {
      width: 100%;

      &::placeholder {
        font-style: italic;
      }

      &.parameter-name {
        min-width: 180.5px;
      }
    }
  }

  &.data-inputs {
    &.volumes {
      .select {
        flex: 0.38;
        padding-left: 3px;
      }
    }

    .input-row-wrapper {
      width: 100%;

      .input-wrapper {
        &:first-child {
          max-width: 351px;
        }
      }
    }

    .table__row-create-data-input {
      display: flex;
    }
  }

  &.parameters {
    .input-row-wrapper {
      width: 100%;

      .select {
        flex: 1;

        &__label {
          padding: 0;
        }

        &__header {
          padding: 10px;
        }

        &.parameter-simple {
          .select__header {
            padding-left: 11px;
          }
        }
      }

      .parameters-type {
        flex: 1;

        .select__label {
          text-transform: none;
        }
      }

      .parameter-value {
        padding: 18px 10px;

        &.active-input {
          padding: 27px 10px 9px;
        }

        + .input__label {
          left: 10px;
        }
      }
    }
  }

  .no-hover {
    .add-input {
      padding: 0;
    }

    &:hover {
      background-color: transparent;
    }
  }
}
