@import '../../scss/colors';
@import '../../scss/borders';

.job-panel__table {
  position: relative;
  width: 100%;
  border-bottom: $tableBorder;

  .table {
    &__header {
      color: $topaz;
      font-weight: bold;
      font-size: 14px;
      line-height: 24px;

      .table__cell {
        &-name,
        &-inputName,
        &-volumeName {
          padding-left: 17px;
        }
      }
    }

    &__body {
      display: flex;
      align-items: flex-end;

      &-column {
        width: 100%;
      }
    }

    &__row-addItem {
      display: flex;
    }
  }

  .input-row {
    &-wrapper {
      display: flex;
      width: 100%;
      border: $primaryBorder;

      .select {
        flex: 1;
        height: 54px;
        margin: 1px 0;
        padding: 0;
        border: none;

        &__label {
          padding: 0;
        }

        &__header {
          padding: 10px;
        }

        &.select-parameterSimple {
          .select__header {
            padding-left: 11px;
          }
        }
      }

      .input-wrapper {
        &:first-child {
          flex: 0.4;
        }
      }
    }

    &__item {
      width: 100%;

      &::placeholder {
        font-style: italic;
      }

      &.table__cell-name {
        min-width: 181px;
      }
    }
  }

  .edit-row {
    position: relative;

    .input {
      width: 100%;
      margin: -1px;
      padding: 10px;
      border: $primaryBorder;
      border-radius: 2px;
    }

    .table__cell {
      &_edit {
        padding: 10px 20px 10px 0;

        .select {
          width: 100%;
          margin: -1px;
          padding-left: 10px;
          border-radius: 2px;

          &__value {
            min-width: unset;
          }

          &__label {
            padding-left: 0;
          }
        }
      }

      &-input {
        padding: 0;

        &:first-child {
          .input-wrapper {
            min-width: 203px;
            margin-right: 5px;

            .input {
              padding-left: 17px;

              &__label {
                padding-left: 5px;
              }
            }
          }
        }
      }
    }
  }

  &.data-inputs {
    &.volumes {
      .select {
        flex: 0.4;

        .select__header {
          padding: 17px;
        }
      }
    }

    .table__cell {
      &:first-child {
        flex: 0.38;
        min-width: 209px;
        padding-right: 0;
      }

      &_edit {
        padding: 0;
      }
    }
  }

  &.parameters {
    .input-row-wrapper {
      .parameters-type {
        .select__label {
          text-transform: none;
        }
      }

      .parameter-value {
        padding: 18px 10px;

        + .input__label {
          left: 10px;
        }

        &.active-input {
          padding: 27px 10px 9px;
        }
      }
    }
  }

  .no-hover {
    .add-input {
      padding: 0;
    }

    &:hover {
      background-color: transparent;
    }
  }
}
